.form-container {
	margin: 2rem 0rem;
	display: flex;
	justify-content: center;
	width: 100%;
}

.form-container form {
	width: 100%;
	padding: 1.5rem;
	border: solid 2px grey;
}

.form-container form h2 {
	text-align: center;
	color: blue;
}

.form-container form div {
	display: grid;
	grid-templete-columns: 1fr;
	padding-bottom: 1rem;
}

.form-container form div input {
	font-size: 16px;
	padding: 0.25rem;
}

.form-container form div label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.form-container form div textarea {
	resize: none;
	padding: 0.25rem;
}

.error-message {
    color: red;
    padding-top: 0.5rem;
}

.kill-container {
    margin: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.kill-container section {
    max-width: 500px;
    width: 100%;
    padding: 1.5rem;
    border: solid 2px grey;
}

.kill-container section h2 {
    padding: 1rem;
    text-align: center;
}

@media(min-width: 768px) {
    .form-container form {
	    max-width: 500px;
    }
}
