
.button-post a {
	color: blue;
	text-decoration: none;
}

.posts-container {
	padding: 1rem 0rem;
}

.post {
	border: solid 2px grey;
	padding: 1rem;
	margin-bottom: 1rem;
}

.post h4 {
	padding-top: 0.5rem;
}

.post h4 a {
	color: blue;
	text-decoration: none;
}

.post section {
	padding-bottom: 0.5rem;
}

.post h3 {
	padding-bottom: 0.5rem;
}

.post h3 a {
	color:blue;
}

.post h3 a:hover {
	color: blue;
}

.blue-button {
	font-size: 1.2rem;
	background-color: transparent;
	color: blue;
	padding: 0.25rem;
	border: solid 2px blue;
	text-decoration: none;
}

.blue-button:hover {
	background-color: blue;
	color: white;
	border: solid 2px white;
	cursor: pointer;
}

.blue-button:active {
	background-color: transparent;
	color: blue;
	border: solid 2px blue;
}

.button-container {
	padding-top: 1rem;
}









