{{ define "title" }} GOmsg {{ end }}
{{ define "body"}}
<div class="form-container">
	<form action="/post/{{ .Board }}" method="POST">
		<h2>Create: {{ .Board }}</h2>
		<div>
			<label for="title">Title</label>
			<input required maxlength="255" type="text" id="title" name="title" value="{{ .Title }}"/>
			{{ range .Errors }}
			    {{ if eq "title" .Field }}
			    <p class="error-message">{{ .Message }}</p>
			    {{ end }}
			{{ end }}
		</div>
		<div>
			<label for="comment">Comment</label>
			<textarea required maxlength="1200" id="comment" name="comment" rows="10">{{ .Comment }}</textarea>
			{{ range .Errors }}
			    {{ if eq "comment" .Field }}
			    <p class="error-message">{{ .Message }}</p>
			    {{ end }}
			{{ end }}
		</div>
		<button type="submit" class="blue-button">Submit</button>
	</form>
</div>
{{ end }}
